body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(44, 41, 38);
}

a {
  text-decoration: none;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 5rem;
  background-color: rgb(29, 26, 24);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

#main-header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  font-size: 1.25rem;
  color: rgb(185, 131, 31);
}

#main-header nav a:hover {
  color: rgb(228, 163, 44);
}

#side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  height: 5rem;
}

#side-drawer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 4rem 1rem;
  list-style: none;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  font-size: 2rem;
  color: rgb(253, 239, 213);
}

main h1 {
  font-size: 3rem;
  color: rgb(238, 164, 80);
  text-align: center;
}

#latest-products {
  margin: 2rem auto;
  width: 80%;
}

#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.food-item {
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(228, 206, 182);
}

.food-item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.food-item-content {
  padding: 1rem;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background-color: rgb(228, 157, 44);
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}

@media (max-width: 48rem) {
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #latest-products ul {
    grid-template-columns: 100%;
  }
}
